* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: rgb(255,133,248);
    background: linear-gradient(180deg, rgba(255,133,248,1) 0%, rgba(255,255,255,0) 34%);
}


  /* Carrito de compras */

  .Cart-Container {
    width: 70%;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
    top: 70px;
    position: fixed;
   }

   .Header{
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


   .Heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
   }
   .Action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }
   .Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .image-box{
    width: 15%;
    text-align: center;
   }
   .about{
    height: 100%;
   }
   .title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-family: ‘Open Sans’;
    font-weight: 800;
    color: #202020;
   }
   .subtitle{
    line-height: 10px;
    font-size: 18px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #909090;
   }

/* NAV BAR CUSTOM */

.nav-bar {
    width: 100%;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    height: 60px;
}

.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #a4479f;
    text-transform: capitalize;
    background: none;
    color: #a4479f;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #70286c;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Lobster', cursive;
}

.search-box::placeholder{
    color: #a4479f;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a i{
    width: 30px;
    color: #a4479f;
}

.nav-items a i:hover{
    color: #70286c;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    font-size: 25px;
    font-family: 'Lobster', cursive;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #a4479f;
    transition: .5s;
}

.link:hover{
    font-size: 35px;
   
    color: #70286c;
}

/* PRIMERA PLANA  */

.primer-section{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content {
    display: flex;
    justify-content: center;
   flex-direction: column;

}

.primer-section .logo{
    height: 250px;
    display: block;
    margin: auto;
}

.primer-section .sub-heading{
    margin-top: 65px;
    text-align: center;
    color: #a4479f;
    font-size: 27px;
    font-weight: 300;
    font-family: 'Lobster', cursive;
}

.primer-section .second-sub-heading{
    margin-top: 5px;
    text-align: center;
    color: #a4479f;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Lobster', cursive;
    margin-bottom: 45px;
}

.comenzar-boton {
    background-color: #fc29c4;
    border: none;
    border-radius: 8px;
    padding: 14px 40px;
    width: 250px;
    margin: auto;
}

.comenzar-boton:hover {
    background-color: #c9269e;
}

.comenzar-boton a {
    font-size: 25px;
    color: white;
    text-decoration: none;
   
}

/* FOOTER CUSTOM  */

footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(164,71,159,1) 100%);
    margin-top: 60px;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content .logo{
    align-self: center;
    height: 70px;
}

.footer-ul-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #a4479f;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 4px #ffffff;
}

.category .footer-link{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    text-transform: capitalize;
    color: #a4479f;
    text-shadow: 2px 2px 4px #ffffff;
}

.footer-link:hover{
    color: #fff;
}

/* ECOMERCE */

  p {
    line-height:1.8;
  }

  .producto {
    background-color: #fceff8;
    border-radius: 20px;
    max-width: 30%;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .card .card-image .card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(12, 12, 12);
    font-family: 'Lobster', cursive;
    position: unset;
    font-size: 27px;
  }

  
  img {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-content p {
    font-size: 23px;
  }

  .car-content {
    display: flex;
    justify-content: center;
  }

  .car-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .car-content i {
    color: rgb(255, 255, 255);
    margin-right: 5px;
  }

  .car-buttom {
    background-color: #f25151;
    border: none;
    border-radius: 30px;
    padding: 14px 10px;
    margin-bottom: 3%;
    width: 65%;
    height: 1rem;
    color: aliceblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-buttom:hover {
    background-color: #c03434;
}

/* Formato contenedor de productos */

.formato-contenedor {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
